<!DOCTYPE html>
<html lang="en">
<head>
    <link href="../static/style.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
</head>
<body>

    {% include "drawer.html" %}
    
    <div class="main-content">
        <H1>Sobre</H1>
        <br>
            <div class="divsobre">
                <h4>Tema</h4>
                Nosso projeto é um painel de controle onde serão feitos as inserções,
                edições e remoções dos conteúdos do aplicativo móvel da Rede Fé FM,
                rádio gospel de Ribeirão Preto, aplicativo esse que é nosso trabalho de conclusão de curso. 
                <br> <br>
                <h4>Objetivos</h4>
                
                <div class="objetivos">
                    <ul>
                        <li>
                            Criar uma página de login funcional, que informasse caso a senha ou
                            e-mail estejam incorretos e validasse o login no caso de acerto.
                        </li>
                        <li>
                            Exibir na tela Home a transmissão ao vivo da rádio.
                        </li>
                        <li>
                            Criar uma tela que mostrasse a programação da rádio dividida por dias da semana, podendo cadastrar, editar e excluir programas.
                        </li>
                        <li>
                            Criar uma tela que mostrasse as promoções da rádio, podendo cadastrar, editar e excluir promoções.
                        </li>
                        <li>
                            Criar uma tela que mostrasse os contatos da rádio, podendo cadastrar, editar e excluir promoções.
                        </li>
                    </ul>
                </div>

                    <br>
                    <h4>Integrantes</h4>
                    <div class="integrantes">
                        <div class="integrante1">
                            Vinicius Falcheti <br>
                            2840481923016
                        </div>
                        <div class="integrante2">
                            Washington Miranda <br>
                            2840481923006
                        </div>
                    </div>
            </div>
   </div>
</body>
</html>