<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <link href="../../static/style.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro do Top </title>
</head>
<body class="cadastro-body">
    <h1> Cadastrar Top 10</h1>
    <div class="cadastro-div top">
        <form action="post">
            <label for="redesocial">Rede Social</label>
            <input type="redesocial" name="redesocial" id="redesocial" placeholder="Digite o nome da rede social" autocomplete="off"> 
            <label for="usuario">Nome de usuário</label>
            <input type="usuario" name="usuario" id="usuario" placeholder="digite o @ ou nome de usuário" autocomplete="off">
            <label for="link">Link</label>
            <input type="link" name="link-contato" id="link-contato" placeholder="Digite o link que leva para a rede social" autocomplete="off"> 
            <input type="submit" value="cadastrar Contato" id="cadastro-contato" class="btn-cadastro">
        </form>
    </div>
</body>
</html>